<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
  </style>
</head>

<body>
  <%- include('../Components/navbar.ejs') %>

  <div class="d-flex" id="wrapper">
    <%- include('../Components/sideBar.ejs') %>
    <div id="page-content-wrapper">
      <h2>Quản lý hợp đồng</h2>
      <table class="table table-hover table-responsive period-table">
        <thead>
          <tr>
            <th scope="col" id="contractId">So hop dong</th>
            <th scope="col" id="customerId">Ma khach hang</th>
            <th scope="col" id="customer">Ten khach hang</th>
            <th scope="col" id="contractCreatedDate">Ngay bat dau cho vay</th>
            <th scope="col" id="contractEndingDate">Ngay ket thuc hop dong</th>
            <th scope="col" id="loan">So tien vay</th>
            <th scope="col" id="itemType">Loai tai san</th>
            <th scope="col" id="itemName">Ten tai san</th>
            <th scope="col" id="staticRedemptionDate">Ngay dong lai co dinh</th>
            <th scope="col" id="interestRate">Lai suat</th>
            <th scope="col" id="employeeId">Ma nha vien tham dinh</th>
            <th scope="col" id="employeeName">Ten nhan vien tham dinh</th>
            <th scope="col" id="accumulatedPaidInterest">Lai da tra luy ke</th>
            <th scope="col" id="incrementalPaidPrincipal">Goc da tra cong don</th>
            <th scope="col" id="presentValue">Du no hien tai</th>
            <th scope="col" id="contractStatus">Tinh trang hop dong</th>
            <th scope="col" id="totalLoanDays">Tong so ngay vay</th>
            <th scope="col" id="estimatingInterest">Lai du tinh</th>
            <th scope="col" id="numberOfLatePeriods">So ky cham</th>
            <th scope="col" id="numberOfLateDays">So ngay cham</th>
            <th scope="col" id="lastPaidDate">Ngay dong cuoi cung</th>
            <th scope="col" id="numberOfPayingDownTimes">So lan VTTB</th>
            <th scope="col" id="numberOfPayment">So lan tra</th>

          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <button class="btn btn-primary" id="btn-choose-column">Choose column</button>

      <!-- modal -->
      <div class="modal" tabindex="-1" role="dialog" id="choose-column-modal">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Choose columns to display</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row row-cols-3">
                <div class="col mb-4 ml-4 mr-4">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="all" data-vie="All" id="all"> All
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="contractId" data-vie="Ma hop dong"> Ma hop dong
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="customerId" data-vie="Ma khach hang"> Ma khach hang
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="customer" data-vie="Ten khach hang"> Ten khach hang
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="contractCreatedDate" data-vie="Ngay tao hop dong"> Ngay tao hop dong
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="contractEndingDate" data-vie="Ngay ket thuc hop dong"> Ngay ket thuc
                      hop dong
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="loan" data-vie="So tien vay"> So tien vay
                      cong don
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="itemType" data-vie="Loai tai san"> Loai tai san
                    </label>
                  </div>
                </div>
                <div class="col mb-4 ml-4 mr-4">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="itemName" data-vie="Ten tai san"> Ten tai san
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="staticRedemptionDate" data-vie="Ngay dong lai co dinh"> Ngay dong
                      lai co dinh
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="interestRate" data-vie="Ti le lai(%)"> Ti le lai(%)
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="employeeId" data-vie="Ma nhan vien"> Ma nhan vien
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="employeeName" data-vie="Ten nhan vien"> Ten nhan vien
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="accumulatedPaidInterest" data-vie="Lai da tra luy ke">Lai da tra luy
                      ke
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="incrementalPaidPrincipal" data-vie="Goc da tra cong don"> Goc da tra
                      cong don
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="presentValue" data-vie="Du no hien tai"> Du no hien tai
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="contractStatus" data-vie="Tinh trang hop dong"> Tinh trang hop dong
                    </label>
                  </div>
                </div>
                <div class="col mn-4 ml-4 mr-4">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="totalLoanDays" data-vie="Tong so ngay vay"> Tong so ngay vay
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="estimatingInterest" data-vie="Lai du tinh"> Lai du tinh
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="numberOfLatePeriods" data-vie="So ky cham"> So ky cham
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="numberOfLateDays" data-vie="So ngay cham"> So ngay cham
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="lastPaidDate" data-vie="Ngay dong tien cuoi cung"> Ngay dong tien
                      cuoi cung
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="numberOfPayingDownTimes" data-vie="So lan tra bot goc"> So lan tra
                      bot goc
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="numberOfPayment" data-vie="So lan tra ky"> So lan tra ky
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="save">Save changes</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script type="module">
    import { generateContractListHTML } from '/generateContractListHTML.js'
    import { generateContractDetailHTML } from '/generateContractDetailHTML.js'
    import { findNestedObj } from '/findNestedObj.js'
    $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
    var abc = <%- JSON.stringify(originalContractList) %>;
    // console.log(`typeof abc: ${typeof abc}, abc: ${abc}`)
    // console.log('original list: ', JSON.parse(abc))
    const contractList = JSON.parse('<%- JSON.stringify(contractList) %>');
    const roleAbility = JSON.parse('<%- JSON.stringify(roleAbility) %>');
    const payload = JSON.parse('<%- JSON.stringify(payload) %>');
    console.log('contract list: ', contractList)
    // console.log('role ability: ', roleAbility)
    // console.log('payload: ', payload)



    // handle modal open
    document.querySelector('#btn-choose-column').addEventListener('click', (event) => {
      $('#choose-column-modal').modal('show')

    })

    document.querySelector('input#all').addEventListener('click', (event) => {
      console.log('select: ', event.target.checked)
      document.querySelectorAll('.modal-body input').forEach(element => {
        element.checked = event.target.checked
      })
    })

    document.querySelector('button#save').addEventListener('click', (event) => {
      document.querySelector('table.period-table thead tr').innerHTML = ''
      // console.log('all checked element: ', document.querySelectorAll('.modal .modal-body input[type="checkbox"]:checked'))
      document.querySelectorAll('.modal .modal-body input[type="checkbox"]:checked:not(#all)').forEach(element => {
        var th = document.createElement('th')
        th.id = element.value
        th.innerHTML = element.getAttribute('data-vie')
        document.querySelector('table.period-table thead tr').appendChild(th)
      })
      $('#choose-column-modal').modal('hide')
      document.querySelector('table.period-table tbody').innerHTML = ''
      displayTable(contractList, 'table tbody')


    })

    const displayTable = (array, query) => {
      array.forEach(contract => {
        // fill info to table
        var tr = document.createElement('tr')
        tr.id = contract.contractId
        document.querySelectorAll(`table thead th`).forEach(element => {
          var th = document.createElement('th')
          if (contract[element.id]) {
            th.innerHTML = contract[element.id]

          } else {
            th.innerHTML = '-'
          }
          tr.appendChild(th)
        })
        document.querySelector(query).appendChild(tr)
      });
    }
    displayTable(contractList, 'table tbody')



  </script>
</body>

</html>