<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .form-group {
      width: fit-content;
    }

  </style>
</head>

<body>
  <%- include('../Components/navbar.ejs') %>
  <div class="d-flex" id="wrapper">
    <%- include('../Components/sideBar.ejs') %>
    <div id="page-content-wrapper">
      <h2>List of properties <%= pageTitle %> </h2>
      <div class="form-group">
        <input type="text" class="form-control" id="search" placeholder="Search...">
      </div>
      <!-- property table -->
      <div id="property-list-container" class="list-container">
        <table class="table table-hover table-bordered table-responsive table-stripped table-responsive">
          <thead>
            <tr>
              <th data-resizable-column-id="warehouseId">Ma kho</th>
              <th data-resizable-column-id="warehouseName">Ten kho</th>
              <th data-resizable-column-id="contractId">Ma hop dong</th>
              <th data-resizable-column-id="itemTypeId">Ma loai tai san</th>
              <th data-resizable-column-id="propertyId">Ma tai san</th>
              <th data-resizable-column-id="propertyName">Ten tai san</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>

      <!-- Central Modal Small -->
      <div class="modal fade" id="centralModalSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">

        <!-- Change class .modal-sm to change the size of the modal -->
        <div class="modal-dialog" role="document" style="max-width: 960px;">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title w-100" id="myModalLabel">Property detail</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container" id="property" style="display: block;">
                <div class="row">
                  <div class="col" id="property-infos"></div>
                  <div class="col" id="property-movement"></div>
                </div>
              </div>
              <div id="property-options" style="display: none;"></div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary btn-sm" id="btn-move" disabled>change warehouse</button>
              <button type="button" class="btn btn-primary btn-raised btn-sm" id="btn-export" disabled>export property</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="module">
    import { generatePropertyManagementList } from '/generatePropertyManagementList.js'
    var propertyList = <%- JSON.stringify(propertyList) %>;
    var warehouseList = <%- JSON.stringify(warehouseList) %>;
    var originPropertyList = <%- JSON.stringify(originPropertyList) %>;


    console.log('property list: ', propertyList)
    console.log('warehouse list: ', warehouseList)
    console.log('origin list: ', originPropertyList)


    generatePropertyManagementList(propertyList, originPropertyList,
     warehouseList, 'property-list-container')
  </script>
</body>

</html>