<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <name>Document</name>
  <style>
    img {
      max-width: 240px;
    }

    .form-group {
      width: fit-content;
      min-width: 201px;
    }

    .select-container {
      width: 201px;
      margin-bottom: 1rem;
    }

    .modal-content .modal-footer .btn {
      margin: 0 8px;
    }

    .list-group-item:first-child {
      margin-right: 0 !important;
    }

    .list-group {
      width: fit-content;
      margin: auto;
    }

    .bmd-list-group-col {
      width: 160px;
    }

    .avatar {
      width: 40px;
      height: 40px;
      object-fit: cover;
    }

    @media (min-width: 576px) {
      .modal-dialog {
        max-width: 80% !important;
        margin: 1.75rem auto !important;
      }

    }

    .modal-content {
      max-height: 80vh;
      overflow-y: scroll;
    }
  </style>
</head>

<body>
  <%- include('../Components/navbar.ejs') %>
    <div class="d-flex" id="wrapper">
      <%- include('../Components/sideBar.ejs') %>
        <!-- create employee template for modal -->
        <div id="page-content-wrapper">
          <h2>Danh sách chức vụ & quyền</h2>
          <button class="btn btn-primary" id="create">Tạo chức vụ</button>
          <table class="table table-hover table-striped table-bordered role-table">
            <thead>
              <tr>
                <th id="name">Tên nhóm quyền</th>
              </tr>
            <tbody></tbody>
            </thead>
            <tbody>
            </tbody>
          </table>
          <div class="modal" id="create-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-name">Cài đặt nhóm quyền</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="name" class="bmd-label-floating">Tên nhóm quyền</label>
                    <input type="email" class="form-control" id="name">
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" id="all">All
                    </label>
                  </div>
                  <div class="container" style="max-width: 100%;">
                    <div class="row">
                      <div class="col-8">
                        <table class="table table-hover table-striped table-bordered role-abilities-table">
                          <thead>
                            <tr>
                              <th>Link truy cập</th>
                              <th>Xem</th>
                              <th>Tạo</th>
                              <th>Sửa</th>
                              <th>Xóa</th>
                              
                            </tr>
                          </thead>
                          <tbody>
                            <%- include('./urlCheckTable.ejs') %>
                          </tbody>
                        </table>
                      </div>
                      <div class="col" id="store-check-list">
                        <h4>Cửa hàng nhóm quyền có thể xem</h4>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="only" id="only">Chỉ mình cửa hàng nhân viên thuộc về
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="all" id="all">Tất cả cửa hàng
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" id="save">Save changes</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

        </div>
    </div>
    <script>
      var roleList = <%- JSON.stringify(roles) %>;
      var storeList = <%- JSON.stringify(stores) %>;

      console.log('role list: ', roleList)
      console.log('store list: ', storeList)
      // append store list into modal body
      storeList.forEach(store => {
        var div = document.createElement('div')
        div.className = 'checkbox'
        div.innerHTML = `<label>
        <input type="checkbox" value=${store.id} id=${store.id}>${store.name}
      </label>`
        document.querySelector('.modal-body div#store-check-list').appendChild(div)
      })

      // display role list
      roleList.forEach(role => {
        var tr = document.createElement('tr')
        tr.addEventListener('click', event => {
          document.querySelector('input#name').value = role['name']
          document.querySelectorAll(`#create-modal tr`).forEach(element => {
            element.querySelectorAll('table.role-abilities-table input').forEach(input => {
              role.urls[element.querySelector('th').id][input.id] ? input.setAttribute('checked', true) : input.removeAttribute('checked')

            })
          })
          document.querySelectorAll('div#store-check-list input').forEach(input=>{
            role.stores.includes(input.id)? input.setAttribute('checked', true): input.removeAttribute('checked')
          })
          $('#create-modal').modal('show')

        })
        document.querySelectorAll('table.role-table thead th').forEach(element => {
          var th = document.createElement('th')
          th.innerHTML = role[element.id]
          tr.appendChild(th)
        })
        document.querySelector('table.role-table tbody').appendChild(tr)
      })

      // open modal button
      document.querySelector('button#create').addEventListener('click', (event) => {
        document.querySelectorAll('#create-modal input').forEach(element => {
          element.type === 'checkbox' ? element.removeAttribute('checked') : element.value = ''
        })
        $('#create-modal').modal('show')
      })

      // create button
      document.querySelector('button#save').addEventListener('click', event => {
        var roleObj = {
          name: document.querySelector('input#name').value,
          urls: {},
          stores: []
        }
        document.querySelectorAll('table.role-abilities-table tbody tr').forEach(element => {
          var abilities = {}
          element.querySelectorAll('input').forEach(element => {
            abilities[element.id] = element.checked
          })
          roleObj.urls[element.querySelector('th').id] = abilities
        })
        document.querySelectorAll('div#store-check-list input:checked').forEach(input=>{
          roleObj.stores.push(input.value)
        })
        console.log('role obj: ', roleObj)
        $.ajax({
          type: 'POST',
          url: `/systemMng/roles?token=${window.localStorage.getItem('accessToken')}`,
          contentType: 'application/json',
          data: JSON.stringify(roleObj),
          success: result => {
            console.log('result: ', result)
          }
        })
      })

      // all checkbox
      document.querySelector('input#all').addEventListener('change', event => {
        console.log('value: ', event.target.checked)
        document.querySelectorAll('table.role-abilities-table input[type="checkbox"]').forEach(element => {
          event.target.checked ? element.setAttribute('checked', true) : element.removeAttribute('checked')
        })
      })

    </script>

</body>

</html>