<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include('../Components/navbar.ejs') %>
  <div class="d-flex" id="wrapper">
    <%- include('../Components/sideBar.ejs') %>

    <div id="page-content-wrapper">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <img src="/images/Reader-picture_170c9c539d6_original-ratio.jpg">
    </div>
  </div>

</body>

</html>